ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: medium;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

#info {
    background-color: orange;
}

#firstGen {
    background-image: url("pictures/firstGen.jpg");
    background-repeat: no-repeat;
    padding-top: 40px;
    background-size: 100% 100%;
    color: #00FA9A;
    border: solid;
    font-size: xx-large;
}

#secondGen {
    background-image: url("pictures/secondGen.jpg");
    background-repeat: no-repeat;
    padding-top: 40px;
    background-size: 100% 100%;
    color: white;
    border: solid;
    font-size: xx-large;
}

#actionG {
    background-image: url("pictures/action.jpg");
    background-repeat: no-repeat;
    padding-top: 40px;
    background-size: 100% 100%;
    color: blue;
    border: solid;
    font-size: xx-large;
}

#comedyG {
    background-image: url("pictures/comedy.jpg");
    background-repeat: no-repeat;
    padding-top: 40px;
    background-size: 100% 100%;
    color: pink;
    border: solid;
    font-size: xx-large;
}

#dramaG {
    background-image: url("pictures/drama.jpg");
    background-repeat: no-repeat;
    padding-top: 40px;
    background-size: 100% 100%;
    color: 	#D2691E;
    border: solid;
    font-size: xx-large;
}

#historyG {
    background-image: url("pictures/history.jpg");
    background-repeat: no-repeat;
    padding-top: 40px;
    background-size: 100% 100%;
    color: #9370DB;
    border: solid;
    font-size: xx-large;
}

#mechaG {
    background-image: url("pictures/mecha.jpg");
    background-repeat: no-repeat;
    padding-top: 40px;
    background-size: 100% 100%;
    color: pink;
    border: solid;
    font-size: xx-large;
}

#supernaturalG {
    background-image: url("pictures/magic.jpg");
    background-repeat: no-repeat;
    padding-top: 40px;
    background-size: 100% 100%;
    color: yellow;
    border: solid;
    font-size: xx-large;
}

#romanceG {
    background-image: url("pictures/romance.jpg");
    background-repeat: no-repeat;
    padding-top: 40px;
    background-size: 100% 100%;
    color: orange;
    border: solid;
    font-size: xx-large;
}

#psychologicalG {
    background-image: url("pictures/psychological.jpg");
    background-repeat: no-repeat;
    padding-top: 40px;
    background-size: 100% 100%;
    color: green;
    border: solid;
    font-size: xx-large;
}
